/* importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
.color-primary {
  color: #e95a08;
}

.dark-1 {
  color: #252432;
}

.dark-2 {
  color: #8987a1;
}

.light-dark {
  color: rgba(0, 0, 0, 0.5);
}

.width-and-margin {
  width: 1140px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #e95a08;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  height: 50px;
  border: none;
}

/* resetting the styles for all anchor tags */
a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

/* header styles */
.header {
  width: 100vw;
}

/* navbar styles */
.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 140px;
  height: auto;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}

.menu li:first-child > a {
  font-weight: 700;
}

.cart {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* banner styles  */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 120px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}

.banner-description {
  font-size: 1.375rem;
  text-align: left;
  margin-top: 1rem;
}

.banner-image {
  width: 570px;
  height: auto;
}

/* plants section  */
.plants-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plants-section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 120px;
}

.plants-section-description {
  width: 888px;
  font-size: 1.375rem;
  text-align: center;
  margin-top: 20px;
}

.plants {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 50px;
}

.plant {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plant-image img {
  max-width: 270px;
  height: auto;
}

.plant-description {
  margin: 20px 0;
}

.plant-description > p {
  text-align: center;
}

.plant-name {
  color: black;
  font-weight: 500;
  font-size: 1.375rem;
  margin-bottom: 10px;
}

.plant-price {
  font-size: 1.375rem;
  font-weight: 700;
}

/* badge section  */
.badge-section-container {
  position: relative;
}

.trusted-badge {
  max-width: 280px;
  max-height: 280px;
  position: absolute;
  left: 32%;
  top: -120px;
}

.badge-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-top: 200px;
}

.badge-section-image img {
  max-width: 540px;
  max-height: 600px;
  height: auto;
}

.badge-section-title {
  font-size: 3.1rem;
  font-weight: 700;
}

.badge-section-text {
  text-align: left;
}

.badge-section-description {
  font-size: 1.375rem;
}

.badge-section-description li {
  margin-top: 20px;
  margin-left: 30px;
}

/* deals section  */
.deals-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}
.deals-section-title {
  font-size: 3rem;
  font-weight: 700;
}
.deals-section-description {
  font-size: 1.375rem;
  max-width: 888px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 100px;
}

.deals-section-offers {
  display: grid;
  grid-template-areas:
    "offer-1 offer-3 offer-3"
    "offer-2 offer-3 offer-3";
  gap: 25px;

  width: 100%;
  height: 420px;
}

.deals-section-offer {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}

.offer-description {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

.deals-section-offer a {
  color: white;
  text-decoration: underline;
  font-weight: 600;
  font-size: 1rem;
}

.offer-3 p {
  font-size: 2.5rem;
}

.offer-3 a {
  font-size: 1.75rem;
}

.offer-1 {
  grid-area: offer-1;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 0%, 0.6)),
    url("../assets/deal-bloom.png");
}

.offer-2 {
  grid-area: offer-2;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 0%, 0.6)),
    url("../assets/deal-ana.png");
}

.offer-3 {
  grid-area: offer-3;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 0%, 0.6)),
    url("../assets/deal-zabo.png");
}

/* Newsletter Section  */
.newsletter-section {
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  margin-top: 120px;
}

.newsletter-heading {
  color: white;
  font-weight: 700;
  font-size: 3rem;
}

.newsletter-email-field {
  width: 830px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin-top: 25px;
}

.newsletter-email-field input[type="email"] {
  font-size: 1rem;
  padding: 16px 20px;
  border: none;
}

.newsletter-email-field input[type="email"] {
  outline: none;
}

.btn-newsletter {
  font-size: 1rem;
  font-weight: 600;
  background-color: #e95a08;
  padding: 20px 55px;
  border: none;
}

/* Media query for small screen  */
@media screen and (max-width: 576px) {
  .nav {
    width: 90vw;
    margin: 16px auto;
  }
  .menu {
    display: none;
  }
  .logo img {
    max-width: 65px;
    height: auto;
  }

  .banner {
    width: 100vw;
    flex-direction: column-reverse;
    margin-top: 1.75rem;
  }

  .banner-text {
    width: 100vw;
    margin-top: 1.75rem;
  }

  .banner-title {
    font-size: 1.5rem;
    padding: 0 16px;
  }

  .banner-description {
    font-size: 0.875rem;
    padding: 0 16px;
    margin-top: 1rem;
  }

  .banner-image {
    width: 100vw;
  }

  .banner-image img {
    width: 100%;
  }

  /* plants section  */
  .plants-section {
    width: 90vw;
    margin: 0 auto;
  }

  .plants-section-title {
    font-size: 1.5rem;
    margin-top: 60px;
  }

  .plants-section-description {
    font-size: 0.875rem;
    width: 336px;
    margin-top: 15px;
  }

  .plants {
    grid-template-columns: repeat(2, 1fr);
  }

  .plant {
    width: 100%;
  }

  .plant-image img {
    width: 100%;
    height: auto;
  }

  .plant-name {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .plant-price {
    font-size: 1rem;
  }

  /* badge section  */
  .badge-section-container {
    width: 90vw;
    margin: 0 auto;
  }
  .trusted-badge {
    display: none;
  }

  .badge-section {
    flex-direction: column;
  }

  .badge-section-image img {
    width: 100%;
  }

  .badge-section-title {
    font-size: 1.5rem;
  }

  .badge-section-description {
    font-size: 0.875rem;
  }

  .deals-section {
    width: 90vw;
  }

  .deals-section-title {
    font-size: 1.5rem;
  }

  .deals-section-description {
    font-size: 0.875rem;
    margin-bottom: 50px;
    width: 330px;
  }

  .deals-section-offers {
    grid-template-areas: "offer-1" "offer-2" "offer-3";
    gap: 20px;
    height: calc(3 * 190px + 2 * 20px);
  }

  .deals-section-offer {
    height: 190px;
  }

  .offer-3 p {
    font-size: 1.25rem;
  }

  .offer-3 a {
    font-size: 1rem;
  }

  .newsletter-section {
    margin-top: 40px;
    height: 275px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .newsletter-heading {
    font-size: 1.25rem;
  }
  .newsletter-email-field {
    width: 320px;
    grid-template-columns: 2fr 1fr;
  }

  .newsletter-email-field input[type="email"] {
    width: 100%;
  }

  .btn-newsletter {
    padding: 20px 10px;
  }
}
